<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.lizq.jenkins</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>7AD66D87-8876-4161-942B-197BF57D54CF</key>
		<array/>
		<key>8C8B6723-6E73-4BA6-8657-C29A6B25B806</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8608EEE-A149-4CFE-977D-992CC3972274</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D21AD68C-E1D0-4807-B9B2-4D5EFF427DD2</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7AD66D87-8876-4161-942B-197BF57D54CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ziqiang Li</string>
	<key>description</key>
	<string>执行Jenkins任务</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Jenkins</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>正在构建{var:shortName}，请稍后~</string>
				<key>title</key>
				<string>Jenkins</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F8608EEE-A149-4CFE-977D-992CC3972274</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D21AD68C-E1D0-4807-B9B2-4D5EFF427DD2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>jk</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>/usr/local/opt/node@8/bin/node src/index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Jenkins</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8C8B6723-6E73-4BA6-8657-C29A6B25B806</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/opt/node@8/bin/node src/build.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7AD66D87-8876-4161-942B-197BF57D54CF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>PLEASE EDIT THIS CONFIG BEFORE USING~

1. MODIFY JENKINS URL
eg: http://username:pwd@10.153.171.6:8080

2. MODIFY NODE PATH</string>
	<key>uidata</key>
	<dict>
		<key>7AD66D87-8876-4161-942B-197BF57D54CF</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>8C8B6723-6E73-4BA6-8657-C29A6B25B806</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>D21AD68C-E1D0-4807-B9B2-4D5EFF427DD2</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>F8608EEE-A149-4CFE-977D-992CC3972274</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>JENKINS_SPLIT_NAME</key>
		<string></string>
		<key>JENKINS_URL</key>
		<string>http://liziqiang:liziqiang@10.153.171.6:8080</string>
	</dict>
	<key>version</key>
	<string>1.1.3</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
